<!DOCTYPE html>
<html lang="ru-RU">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Ветеринарная клиника в Молодечно — ЗооВетМаркет</title>
    <meta name="title" content="Ветеринарная клиника в Молодечно — ЗооВетМаркет">
    <meta name="description"
          content="Качественная ветеринарная помощь в Молодечно собакам и кошкам, грызунам и птицам! Широкий спектр услуг. Низкие цены. Индивидуальный подход. Современное оборудование. Рассрочка под 0% до 6 месяцев.">
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:title" content="Ветеринарная клиника в Молодечно — ЗооВетМаркет"/>
    <meta property="og:description"
          content="Качественная ветеринарная помощь в Молодечно собакам и кошкам, грызунам и птицам! Широкий спектр услуг. Низкие цены. Индивидуальный подход. Современное оборудование. Рассрочка под 0% до 6 месяцев."/>
    <meta property="og:url" content="https://molodechno.zoovet.by/index.html"/>
    <meta property="og:image" content="https://molodechno.zoovet.by/img/og-vet.jpg"/>
    <meta property="og:image:width" content="968"/>
    <meta property="og:image:height" content="504"/>
    <meta property="og:image:alt" content="Ветеринарная клиника в Молодечно — ЗооВетМаркет"/>
    <link rel="manifest" href="{% static '/manifest.json' %}"/>
    <link rel="icon" href="{% static 'img/favicons/favicon-32.png' %}" sizes="32x32" type="image/png"/>
    <link rel="icon" href="{% static 'img/favicons/favicon-48.png' %}" sizes="48x48" type="image/png"/>
    <link rel="icon" href="{% static 'img/favicons/favicon-62.png' %}" sizes="62x62" type="image/png"/>
    <link rel="icon" href="{% static 'img/favicons/favicon-192.png' %}" sizes="192x192" type="image/png"/>
    <meta name="theme-color" content="#d8f2fb"/><!-- Google Tag Manager-->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NHC4GW5');




    </script><!-- End Google Tag Manager-->
    <style>header, main {
        display: block;
        overflow: hidden;
    }







    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
    <link href="{% static 'css/main.css' %}" media="none" onload="if(media!=&quot;all&quot;) media=&quot;all&quot;"
          rel="stylesheet"/>
</head>
<body>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHC4GW5" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript><!-- End Google Tag Manager (noscript)-->
<div class="top-bar">
    <div class="top-bar-content">
        <div class="logo top-bar-logo"></div>
        <div class="top-bar__contact top-bar__contact-1">
            <div class="top-bar__phones">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15.8" width="20" height="20">
                    <g id="icon-a1">
                        <path d="M11.2 4.7l.7.2a9.07 9.07 0 001.8-1.1.55.55 0 00-.2-1z" fill="#0e0e0e"></path>
                        <path d="M5.8 1.7l-1.1.7L0 15.3l.9.5L5.8 1.7z" fill="#8f0000"></path>
                        <path d="M11.2 2.7v2a9.09 9.09 0 002-1.3v6.3l2.3.2V0l-1.8.3a5.23 5.23 0 01-2.5 2.4z"
                              fill="#3a3a3a"></path>
                        <path d="M15.5 0l.5.4v9.4l-.5.1V0z" fill="#0e0e0e"></path>
                        <path d="M6.8 7.4l2 7.3 1 .2-2.3-9.1-.7 1.6z" fill="#8f0000"></path>
                        <path d="M12.7 14.6L8.9 2.4l-3.1-.7-5 14.1 3.4-.3.8-2.8 4.1-.2.7 2.4zM6 10.3l1.5-4.5 1.1 4.5z"
                              fill="#e70707"></path>
                    </g>
                </svg>

                {% for i in info.all %}
                <a href="tel:{{ i.phone }}">{{ i.phone }}</a>
                <svg class="logo-viber" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.96 20" width="18"
                     height="20">
                    <g id="icon-viber">
                        <path d="M11 0H7a7 7 0 0 0-7 7v3a7.08 7.08 0 0 0 4 6.34v3.34a.33.33 0 0 0 .55.25L7.43 17H11a7 7 0 0 0 7-7V7a7 7 0 0 0-7-7z"
                              fill="#665cac"></path>
                        <g fill="#FFF">
                            <path d="M9.63 5.64a.35.35 0 1 0 0 .7A1.34 1.34 0 0 1 11 7.68a.35.35 0 1 0 .7 0 2.09 2.09 0 0 0-2.07-2.04z"></path>
                            <path d="M9.63 4.34h-.35a.33.33 0 1 0 .05.66h.3a2.66 2.66 0 0 1 2.64 2.64v.3c0 .2.1.35.3.35s.35-.1.35-.3v-.36a3.25 3.25 0 0 0-3.29-3.29z"></path>
                            <path d="M9.63 3h-.35c-.2 0-.3.15-.3.35s.15.3.35.3h.3a4 4 0 0 1 4 4 5.51 5.51 0 0 1-.1.9.33.33 0 0 0 .25.4.31.31 0 0 0 .4-.25 3.92 3.92 0 0 0 .1-1.1A4.59 4.59 0 0 0 9.63 3zM14 12.42l-.3-1.59a.27.27 0 0 0-.25-.25l-2.34-.45a.37.37 0 0 0-.3.1l-.95.95a5.89 5.89 0 0 1-3.29-3.3l.94-.94a.37.37 0 0 0 .1-.3l-.42-2.35C7.14 4.14 7 4 6.94 4l-1.6-.3h-.15a1.66 1.66 0 0 0-1.2.5 2.56 2.56 0 0 0-.6 2.3 10.31 10.31 0 0 0 2.45 5.24 9.94 9.94 0 0 0 5.24 2.44 2.43 2.43 0 0 0 .6 0 2.25 2.25 0 0 0 1.69-.65 2 2 0 0 0 .6-1.15l.03.04z"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="top-bar__contact top-bar__contact-2">
            <div class="top-bar__adress"><span>{{ i.city }}, </span>&#32; {{ i.address }}</div>
            <div class="top-bar__work">{{ i.time_work1 }}<br/>&#32; {{ i.time_work2 }}</div>
        </div>
        <form class="top-bar-form"><input type="hidden" name="form_name"
                                          value="Молодечно: Заказать звонок (топ бар)"/><input
                class="form-phone top-bar-form-phone" type="tel" name="phone" placeholder="Впишите телефон"/>
            <button class="form-btn top-bar-form-btn" type="submit">ЗАКАЗАТЬ ЗВОНОК</button>
        </form>
    </div>
</div>
<header class="header">
    <div class="header_top-block">
        <div class="header-content"><h1 class="header-title">Ветеринарная<br/>&#32; клиника в {{ i.city }}</h1>
            {% endfor %}

            <h2 class="header-subtitle">Мы команда профессионалов, чей главный<br/>&#32; приоритет – здоровье вашего
                питомца!</h2>
            <form class="form header_form">
                <div class="form-title header_form-title">Запишитесь на приём<br/>&#32; к специалисту прямо сейчас</div>
                <div class="form-inputs header_form-inputs"><input type="hidden" name="form_name"
                                                                   value="Молодечно: Записаться на приём"/><input
                        class="form-phone header_form-phone" name="phone" placeholder="Впишите телефон" type="tel"/>
                    <button class="form-btn header_form-btn" type="submit">Записаться</button>
                </div>
            </form>
        </div>
    </div>
    <div class="eggs">
        <div class="eggs_items">
            <div class="eggs_item wow fadeIn delay-02">
                <div class="eggs_item-icon">
                    <div class="eggs__icon eggs__icon-1 lazy-bg"></div>
                </div>
                <h4 class="eggs_item-title">Многопрофильные<br/>&#32; клиники</h4></div>
            <div class="eggs_item wow fadeIn delay-03">
                <div class="eggs_item-icon">
                    <div class="eggs__icon eggs__icon-2 lazy-bg"></div>
                </div>
                <h4 class="eggs_item-title">Разнообразие<br/>&#32; ветеринарных услуг</h4></div>
            <div class="eggs_item wow fadeIn delay-04">
                <div class="eggs_item-icon">
                    <div class="eggs__icon eggs__icon-3 lazy-bg"></div>
                </div>
                <h4 class="eggs_item-title">Рассрочка под 0%<br/>&#32; до 6 месяцев</h4></div>
            <div class="eggs_item wow fadeIn delay-05">
                <div class="eggs_item-icon">
                    <div class="eggs__icon eggs__icon-4 lazy-bg"></div>
                </div>
                <h4 class="eggs_item-title">Современное<br/>&#32; оборудование</h4></div>
        </div>
    </div>
</header>

<main>
    {% if action %}
    <section class="action shadow-top"><h2 class="section-title action-title">НАШИ АКЦИИ</h2>
        <div class="action-content">
            {% for i in action %}
            <div class="action-content-discount">{% if i.image %}<img class="action_img lazy"
                                                                      src="{{ i.image.url }}" alt=""/> {% endif %}
                <ul>
                    <li class="action-content"> {{ i.description|safe }}</li>
                </ul>
            </div>
            {% endfor %}
            <form class="form action_form">
                <div class="form-title action_form-title">Оставьте заявку и наш<br/>&#32; консультант сразу же вам<br/>&#32;
                    перезвонит
                </div>
                <div class="form-inputs action_form-inputs"><input type="hidden" name="form_name"
                                                                   value="Молодечно: Акция (узнать подробности)"/><input
                        class="form-name" name="name" placeholder="Впишите имя" type="text"/><input class="form-phone"
                                                                                                    name="phone"
                                                                                                    placeholder="Впишите телефон"
                                                                                                    type="tel"/>
                    <button class="form-btn" type="submit">Отправить</button>
                </div>
                <p class="action-content-lists action-content-present">Количество подарков ограничено!</p></form>
        </div>
    </section>
    {% endif %}

    <section class="service shadow-top shadow-bottom lazy-bg">
        <div class="section-wrapper"><h2 class="section-title service-title">Наши основные направления</h2>
            <div class="service-content">
                <div class="service_items">
                    {% for i in directions %}
                    <div class="service_item"><img class="service_item-img lazy" src="{{ i.image.url }}" alt=""/>
                        <h4 class="service_item-title">{{ i.name_directions }}</h4>
                        <p class="service_item-descr">{{ i.description|safe }}</p></div>
                    {% endfor %}

                    <!--                    <div class="service_item"><img class="service_item-img lazy"-->
                    <!--                                                   src="{% static 'img/service/service-2.jpg' %}"-->
                    <!--                                                   alt="Ветеринарная хирургия"/><h4 class="service_item-title">-->
                    <!--                        Хирургия</h4>-->
                    <!--                        <p class="service_item-descr">Проведение широкого спектра хирургических операций под контролем-->
                    <!--                            опытных ветеринаров.</p></div>-->
                    <!--                    <div class="service_item"><img class="service_item-img lazy"-->
                    <!--                                                   src="{% static 'img/service/service-3.jpg' %}"-->
                    <!--                                                   alt="Ветеринарная паразитология"/><h4 class="service_item-title">-->
                    <!--                        Паразитология</h4>-->
                    <!--                        <p class="service_item-descr">Обследование домашних животных на наличие паразитов, назначение и-->
                    <!--                            контроль лечения.</p></div>-->
                    <!--                    <div class="service_item"><img class="service_item-img lazy"-->
                    <!--                                                   src="{% static 'img/service/service-4.jpg' %}"-->
                    <!--                                                   alt="Ветеринарная вакцинация"/><h4 class="service_item-title">-->
                    <!--                        Вакцинация</h4>-->
                    <!--                        <p class="service_item-descr">Это комплекс мероприятий по профилактике инфекционных заболеваний-->
                    <!--                            собак и кошек.</p></div>-->
                    <!--                    <div class="service_item"><img class="service_item-img lazy"-->
                    <!--                                                   src="{% static 'img/service/service-5.jpg' %}"-->
                    <!--                                                   alt="Ветеринарная ортопедия"/><h4 class="service_item-title">-->
                    <!--                        Ортопедия</h4>-->
                    <!--                        <p class="service_item-descr">Выявление и лечение заболеваний опорно-двигательного аппарата у-->
                    <!--                            домашних животных.</p></div>-->
                    <!--                    <div class="service_item"><img class="service_item-img lazy"-->
                    <!--                                                   src="{% static 'img/service/service-6.jpg' %}"-->
                    <!--                                                   alt="Ветеринарная стоматология"/><h4 class="service_item-title">-->
                    <!--                        Стоматология</h4>-->
                    <!--                        <p class="service_item-descr">Профилактика и лечение заболеваний зубов и десен у домашних-->
                    <!--                            животных. Консультации по уходу.</p></div>-->
                    <!--                    <div class="service_item"><img class="service_item-img lazy"-->
                    <!--                                                   src="{% static 'img/service/service-7.jpg' %}"-->
                    <!--                                                   alt="Ветеринарная анестезиология"/><h4 class="service_item-title">-->
                    <!--                        Анестезиология</h4>-->
                    <!--                        <p class="service_item-descr">Анестезия достигается путем введения лекарств, которые подавляют-->
                    <!--                            функцию нервной системы перед операцией.</p></div>-->
                    <!--                    <div class="service_item"><img class="service_item-img lazy"-->
                    <!--                                                   src="{% static 'img/service/service-8.jpg' %}"-->
                    <!--                                                   alt="Ветеринарная неврология"/><h4 class="service_item-title">-->
                    <!--                        Неврология</h4>-->
                    <!--                        <p class="service_item-descr">Диагностика, лечение и профилактика заболеваний периферической-->
                    <!--                            нервной системы.</p></div>-->
                    <!--                    <div class="service_item"><img class="service_item-img lazy"-->
                    <!--                                                   src="{% static 'img/service/service-9.jpg' %}"-->
                    <!--                                                   alt="Ветеринарная офтальмология"/><h4 class="service_item-title">-->
                    <!--                        Офтальмология</h4>-->
                    <!--                        <p class="service_item-descr">Осмотр глазного дна с помощью специальных инструментов , который-->
                    <!--                            позволяет оценить состояние сетчатки.</p></div>-->
                </div>
                <form class="form form-hor service_form">
                    <div class="form-title form-hor-title service_form-title">С вашим питомцем что-то не так?<br/>&#32;
                        Оставьте заявку для бесплатной консультации
                    </div>
                    <div class="form-inputs service_form-inputs"><input type="hidden" name="form_name"
                                                                        value="Молодечно: Получить консультацию"/><input
                            class="form-name" name="name" placeholder="Впишите имя" type="text"/><input
                            class="form-phone" name="phone" placeholder="Впишите телефон" type="tel"/>
                        <button class="form-btn" type="submit">Оставить заявку</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="why lazy-bg"><h2 class="section-title why-title">Почему вам стоит обратиться к нам</h2>
        <div class="why-content">
            <div class="why_items">
                <div class="why_item why_item-1 wow fadeIn delay-02"><img class="why_item-img lazy"
                                                                          src="{% static 'img/why/why-1.jpg' %}"
                                                                          alt="собака благодарна ветеринару">
                    <p class="why_item-descr">Мы более 20 лет занимаемся<br>&#32; ветеринарией и помогли уже<br>&#32;
                        огромному количеству<br>&#32; домашних животных</p></div>
                <div class="why_item why_item-2 wow fadeIn delay-03"><img class="why_item-img lazy"
                                                                          src="{% static 'img/why/why-2.jpg' %}"
                                                                          alt="ветеринар осматривает собаку">
                    <p class="why_item-descr">Все наши специалисты<br>&#32; с огромной ответственностью<br>&#32;
                        выполняют свою работу</p></div>
                <div class="why_item why_item-3 wow fadeIn delay-04"><img class="why_item-img lazy"
                                                                          src="{% static 'img/why/why-3.jpg' %}"
                                                                          alt="оборудование для ветеринарной клиники">
                    <p class="why_item-descr">Используем оборудование европейского качества, благодаря которому<br>&#32;
                        мы выполняем работу<br>&#32; высококачественно</p></div>
                <div class="why_item why_item-4 wow fadeIn delay-05"><img class="why_item-img lazy"
                                                                          src="{% static 'img/why/why-4.jpg' %}"
                                                                          alt="ветеринар пишет заключение">
                    <p class="why_item-descr">После диагностики, наши специалисты дадут вам советы по уходу за вашим
                        питомцем</p></div>
                <div class="why_item why_item-5 wow fadeIn delay-06"><img class="why_item-img lazy"
                                                                          src="{% static 'img/why/why-5.jpg' %}"
                                                                          alt="животные">
                    <p class="why_item-descr">Работаем со всеми видами животных, начиная от кошек и собак, заканчивая
                        самыми экзотическими животными</p></div>
            </div>
            <img class="why-img lazy" src="{% static 'img/why/why-cat.png' %}" alt="кот"></div>
    </section>
    <section class="specialist shadow-top shadow-bottom lazy-bg">
        <div class="section-wrapper">
            <div class="specialist-content"><h2 class="section-title specialist-title">Вы стали замечать, что с
                вашим<br/>&#32; питомцем что-то не так?</h2>
                <h3 class="specialist-subtitle">Для вызова специалиста вам нужно только:</h3>
                <ul class="specialist-lists">
                    <li class="specialist-list wow fadeIn delay-03">Заполнить форму</li>
                    <li class="specialist-list wow fadeIn delay-04">Оставить заявку</li>
                    <li class="specialist-list wow fadeIn delay-05">Подождать, пока менеджер вам перезвонит</li>
                </ul>
                <form class="form form-hor specialist_form">
                    <div class="form-title form-hor-title specialist_form-title">Вы обнаружили один из симптомов?<br/>&#32;
                        Оставьте заявку, для вызова специалиста
                    </div>
                    <div class="form-inputs specialist_form-inputs"><input type="hidden" name="form_name"
                                                                           value="Молодечно: Вызвать специалиста"/><input
                            class="form-phone" name="phone" placeholder="Впишите телефон" type="tel"/>
                        <button class="form-btn" type="submit">Оставить заявку</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="price shadow-bottom">
        <div class="section-wrapper"><h2 class="section-title price-title">Стоимость наших услуг</h2>
            <div class="price_block">
                {% for service in services.order_by %}
                <div class="price_block-item"><h3 class="price__item-title">{{service.name_services}}</h3>
                    <div class="price__item-descr">
                        <ul class="price__descr-lists">
                            <li class="price__descr-list">{{ service.description|safe}}</li>
                        </ul>
                        <table class="price__table">
                            <thead>
                            <tr>
                                <th class="left">Наименование услуги</th>
                                <th class="right">Стоимость,<br/>&#32; бел. руб.*</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in service.Service.all %}
                            {% if i.published == True %}
                            <tr>
                                <td class="left">{{ i.name_of_service }}</td>
                                <td class="right">{{ i.price }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="price__note"><p class="price__note-descr">*В цену вышеперечисленных услуг не включены: стоимость
                лекарственных препаратов, шприцев, систем для внутривенного введения лекарственных средств и других
                расходных материалов.</p></div>

            <div class="price__note"><p class="price__note-descr">**Категория сложности определяется врачом в
                зависимости от сложности манипуляции (операции) и веса животного.</p>
                <p class="price__note-descr">Ориентировочную конечную стоимость уточняйте у администратора.</p></div>
        </div>
    </section>
    <section class="best lazy-bg"><h2 class="section-title best-title">Что нас отличает от других клиник</h2>
        <div class="best-content">
            <div class="best_lists">
                <div class="best_list best_list-1"><h4 class="best_list-title best_list-title-1">Низкие цены</h4>
                    <p class="best_list-descr">У нас работают только профессионалы, которые с большой ответственностью
                        выполняют свою работу!</p></div>
                <div class="best_list best_list-2"><h4 class="best_list-title best_list-title-2">Рассрочка</h4>
                    <p class="best_list-descr">У нас работают только профессионалы, которые с большой ответственностью
                        выполняют свою работу!</p></div>
                <div class="best_list best_list-3"><h4 class="best_list-title best_list-title-3">Стационарное
                    лечение</h4>
                    <p class="best_list-descr">У нас работают только профессионалы, которые с большой ответственностью
                        выполняют свою работу!</p></div>
                <div class="best_list best_list-4"><h4 class="best_list-title best_list-title-4">Удобное
                    расположение</h4>
                    <p class="best_list-descr">У нас работают только профессионалы, которые с большой ответственностью
                        выполняют свою работу!</p></div>
                <div class="best_list best_list-5"><h4 class="best_list-title best_list-title-5">Современное
                    оборудование</h4>
                    <p class="best_list-descr">У нас работают только профессионалы, которые с большой ответственностью
                        выполняют свою работу!</p></div>
                <div class="best_list best_list-6"><h4 class="best_list-title best_list-title-6">Профессиональный
                    коллектив</h4>
                    <p class="best_list-descr">У нас работают только профессионалы, которые с большой ответственностью
                        выполняют свою работу!</p></div>
            </div>
            <picture class="best_img wow fadeIn delay-02"><img class="lazy" src="{% static 'img/best/cat.png' %}"
                                                               alt="кот">
            </picture>
        </div>
    </section>
    <section class="pain shadow-top shadow-bottom lazy-bg"><h2 class="section-title pain-title">Симптомы, при которых
        необходимо<br/>&#32; вызвать ветеринара или приехать к нам</h2>
        <div class="pain-content">
            <div class="pain_descr">
                <ul class="pain__descr-lists wow fadeIn delay-03">
                    <li class="pain__list pain__list-1">Нарушение дыхания</li>
                    <li class="pain__list pain__list-2">Рвота</li>
                    <li class="pain__list pain__list-3">Диарея</li>
                    <li class="pain__list pain__list-4">Инородное тело</li>
                    <li class="pain__list pain__list-5">Отравление</li>
                    <li class="pain__list pain__list-6">Аллергия</li>
                    <li class="pain__list pain__list-7">Кровотечения</li>
                </ul>
                <picture class="pain__descr-img wow fadeIn delay-04"><img class="lazy"
                                                                          src="{% static 'img/pain/dog.png' %}"
                                                                          alt="собака"/></picture>
            </div>
            <form class="form form-hor pain_form">
                <div class="form-title form-hor-title pain_form-title">Вы обнаружили один из симптомов?<br/>&#32;
                    Оставьте заявку, для вызова специалиста
                </div>
                <div class="form-inputs pain_form-inputs"><input type="hidden" name="form_name"
                                                                 value="Молодечно: Вызвать специалиста"/><input
                        class="form-name" name="name" placeholder="Впишите имя" type="text"/><input class="form-phone"
                                                                                                    name="phone"
                                                                                                    placeholder="Впишите телефон"
                                                                                                    type="tel"/>
                    <button class="form-btn" type="submit">Оставить заявку</button>
                </div>
            </form>
        </div>
    </section>
    <section class="needments lazy-bg"><h2 class="section-title needments-title">Всё необходимое в одном месте</h2>
        <div class="needments-content">
            <ul class="needments_lists">
                <li class="needments_list needments_list-1 wow fadeIn delay-02">Зоомагазин<br>&#32; в метровой<br>&#32;
                    доступности
                </li>
                <li class="needments_list needments_list-2 wow fadeIn delay-03">Ветеринарная<br>&#32; аптека<br>&#32; в
                    клинике
                </li>
                <li class="needments_list needments_list-3 wow fadeIn delay-04">Большой<br>&#32; выбор<br>&#32; услуг
                </li>
                <li class="needments_list needments_list-4 wow fadeIn delay-05">Удобное<br>&#32; расположение<br>&#32; в
                    центре города
                </li>
            </ul>
        </div>
    </section>
    <section class="feedback shadow-top shadow-bottom lazy-bg">
        <div class="feedback-items"><h2 class="section-title feedback-title">Отзывы наших любимых клиентов</h2>
            <div class="feedback-slider">
                <div class="feedback-slider-item">
                    <div class="feedback-item" itemscope="review" itemtype="http://schema.org/Review">
                        <div class="feedback-item-person"><img class="feedback-person-img lazy"
                                                               src="{% static 'img/feedback/feedback-main-1.jpg' %}"
                                                               alt="Фотография клиента"/>
                            <div class="feedback-person-descr">
                                <div class="feedback-person-name" itemprop="author" itemscope=""
                                     itemtype="http://schema.org/Person"><p itemprop="name">Руслан Довыденко</p><span>Молодечно</span>
                                    <div class="feedback-person-date"></div>
                                </div>
                                <div class="feedback-person-rating" itemprop="reviewRating" itemscope=""
                                     itemtype="http://schema.org/Rating">
                                    <meta itemprop="worstRating" content="0"/>
                                    <p>Оценка: &#32;<span itemprop="ratingValue">10</span> из &#32;<span
                                            itemprop="bestRating">10</span></p></div>
                            </div>
                        </div>
                        <div class="feedback-item-review"><h3 class="feedback__review-title" itemprop="itemReviewed">
                            Отличная ветеринарная клиника в Молодечно</h3>
                            <p class="feedback__review-descr" itemprop="reviewBody">Неделю назад впервые обратился в
                                «ЗооВетМаркет» для стерилизации кошки. Очень переживал за неё, но все прошло хорошо.
                                Кошка чувствует себя хорошо после операции. Хочу выразить благодарность всему персоналу
                                ветеринарной клиники, все очень доброжелательные и хорошо относятся к животным, подробно
                                рассказали про дальнейший уход за питомцем. Я полностью остался доволен обслуживанием,
                                спасибо Вам большое!</p></div>
                    </div>
                </div>
                <div class="feedback-slider-item">
                    <div class="feedback-item" itemscope="review" itemtype="http://schema.org/Review">
                        <div class="feedback-item-person"><img class="feedback-person-img lazy"
                                                               src="{% static 'img/feedback/feedback-main-2.jpg' %}"
                                                               alt="Фотография клиента"/>
                            <div class="feedback-person-descr">
                                <div class="feedback-person-name" itemprop="author" itemscope=""
                                     itemtype="http://schema.org/Person"><p itemprop="name">Татьяна Праскина</p><span>Молодечно</span>
                                    <div class="feedback-person-date"></div>
                                </div>
                                <div class="feedback-person-rating" itemprop="reviewRating" itemscope=""
                                     itemtype="http://schema.org/Rating">
                                    <meta itemprop="worstRating" content="0"/>
                                    <p>Оценка: &#32;<span itemprop="ratingValue">10</span> из &#32;<span
                                            itemprop="bestRating">10</span></p></div>
                            </div>
                        </div>
                        <div class="feedback-item-review"><h3 class="feedback__review-title" itemprop="itemReviewed">
                            Отзыв о ветеринарной клинике в Молодечно</h3>
                            <p class="feedback__review-descr" itemprop="reviewBody">Привозила в эту ветеринарную клинику
                                в Молодечно своего кота, был сильный конъюнктивит. Ветеринар осмотрел, выписал капли,
                                проконсультировал как ухаживать чтобы не повторилось. В итоге конъюнктивит вылечили
                                довольно быстро. О клиники остались положительные впечатления, грамотные специалисты,
                                адекватный цены на услуги. В общем я осталась довольна, рекомендую!</p></div>
                    </div>
                </div>
                <div class="feedback-slider-item">
                    <div class="feedback-item" itemscope="review" itemtype="http://schema.org/Review">
                        <div class="feedback-item-person"><img class="feedback-person-img lazy"
                                                               src="{% static 'img/feedback/feedback-main-3.jpg' %}"
                                                               alt="Фотография клиента"/>
                            <div class="feedback-person-descr">
                                <div class="feedback-person-name" itemprop="author" itemscope=""
                                     itemtype="http://schema.org/Person"><p itemprop="name">Ирина Колосовская</p><span>Молодечно</span>
                                    <div class="feedback-person-date"></div>
                                </div>
                                <div class="feedback-person-rating" itemprop="reviewRating" itemscope=""
                                     itemtype="http://schema.org/Rating">
                                    <meta itemprop="worstRating" content="0"/>
                                    <p>Оценка: &#32;<span itemprop="ratingValue">9</span> из &#32;<span
                                            itemprop="bestRating">10</span></p></div>
                            </div>
                        </div>
                        <div class="feedback-item-review"><h3 class="feedback__review-title" itemprop="itemReviewed">
                            Лучшая ветеринарная клиника в Молодечно</h3>
                            <p class="feedback__review-descr" itemprop="reviewBody">Здравствуйте! В этой ветеринарной
                                клинике мы не впервые — устраивает все, и обслуживание, и отношение. Грамотные
                                специалисты, отличная обстановка в клинике, поддержание чистоты и адекватный прайс на
                                услуги. Делали недавно своему псу ультразвуковую чистку зубов. Процедура не из приятных,
                                но ветеринар сделал все аккуратно и без наркоза. Если ищете хорошую ветеринарную клинику
                                в Молодечно, рекомендуем обращаться в «ЗооВетМаркет».</p></div>
                    </div>
                </div>
            </div>
            <div class="feedback-write" id="openModal-feedback">Оставить отзыв</div>
        </div>
    </section>

    <section class="questions"><h2 class="section-title questions-title">Остались вопросы?</h2>
        <div class="questions-content"><img class="questions-image wow fadeIn delay-02 lazy"
                                            src="{% static 'img/questions/thinking-girl.jpg' %}"
                                            alt="девушка задумалась"/>
            <div class="questions-contacts">
                <div class="questions-contacts-list"><h4 class="questions-subtitle">Звоните по телефону:</h4>
                    <div class="questions-number">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15.8" width="20" height="20">
                            <use xlink:href="#icon-a1"></use>
                        </svg>
                        {% for i in info.all %}
                        <a href="tel:{{ i.phone }}">{{ i.phone }}</a></div>
                </div>
                <div class="questions-contacts-list"><h4 class="questions-subtitle">Время работы:</h4>
                    <div class="questions-work">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20">
                            <path d="M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zm0 17.87A7.87 7.87 0 1 1 17.87 10 7.88 7.88 0 0 1 10 17.87z"
                                  fill="#4c7cac"></path>
                            <path d="M15.21 9.69h-4.49v-5.4a.83.83 0 1 0-1.65 0v6.22a.83.83 0 0 0 .82.83h5.32a.83.83 0 1 0 0-1.65z"
                                  fill="#4c7cac"></path>
                        </svg>
                        <p>{{ i.time_work1 }}<br/>&#32; {{ i.time_work2 }}</p></div>
                </div>
                <div class="questions-contacts-list"><h4 class="questions-subtitle">Наш адрес:</h4>
                    <div class="questions-adress">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 31.29" width="20" height="28">
                            <path d="M11 0a11 11 0 0 0-9.36 16.78l8.73 14.08a.93.93 0 0 0 .78.43.91.91 0 0 0 .78-.45l8.51-14.2A11 11 0 0 0 11 0zm7.88 15.69l-7.74 12.92L3.2 15.82a9.17 9.17 0 1 1 15.68-.13z"
                                  fill="#4c7cac"></path>
                            <path d="M11 5.5a5.5 5.5 0 1 0 5.5 5.5A5.51 5.51 0 0 0 11 5.5zm0 9.18A3.68 3.68 0 1 1 14.67 11 3.68 3.68 0 0 1 11 14.68z"
                                  fill="#4c7cac"></path>
                        </svg>
                        <p>{{ i.city }},<br/>&#32; {{ i.address }}</p></div>
                    {% endfor %}
                </div>
            </div>
            <form class="form questions_form">
                <div class="form-title">Задайте вопрос<br/>&#32; нашим консультантам</div>
                <div class="form-inputs questions_form-inputs"><input type="hidden" name="form_name"
                                                                      value="Молодечно: Остались вопросы"/><input
                        class="form-phone" name="phone" placeholder="Впишите телефон" type="tel"/><textarea
                        class="form-message" name="message" placeholder="Впишите сообщение"></textarea>
                    <button class="form-btn" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </section>
    <div class="modal" id="modal-feedback">
        <div class="modal-content">
            <div class="modal-close" id="closeModal-feedback"></div>
            <form class="modal_form">
                <div class="form-title modal-feedback-title">Написать отзыв</div>
                <input type="hidden" name="form_name" value="Молодечно: Отзыв"><input
                    class="form-phone modal_form-phone" name="phone" placeholder="Впишите телефон" type="tel"><textarea
                    class="form-message modal_form-message" name="message" placeholder="Введите сообщение"></textarea>
                <button class="form-btn modal_form-btn" type="submit">Отправить отзыв</button>
            </form>
            <ul class="modal-lists">
                <li>Отзывы публикуются после модерации</li>
                <li>Укажите ссылку на ваш профиль в соц сетях, чтобы мы могли взять вашу фотографию</li>
            </ul>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer-content">
        <div class="logo footer-logo"></div>
        <div class="footer_contacts">
            <div class="footer_contacts-content" id="footerContactsModal" itemscope="itemscope"
                 itemtype="http://schema.org/Organization">
                <div class="footer_contacts-close" id="footerContactsClose"></div>
                <div class="footer_contacts-logo logo"></div>
                <div itemprop="name">ЗооВетМаркет</div>

                {% for i in info.all %}
                <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span><b>Адрес: &#32;</b></span><span
                        itemprop="addressLocality">{{ i.city }}</span><span>,</span><br/><span itemprop="streetAddress">{{ i.address }}</span>
                </div>
                <div><b>Телефон: &#32;</b><br/><span itemprop="telephone"> {{ i.phone }} </span></div>
                {% endfor %}

            </div>
            <div class="footer_contacts-button" id="footerContactsButton">Контакты</div>
            <a class="footer_contacts-conf" href="{% url 'conf_policy' %}">Политика<br>&#32; конфиденциальности</a>
        </div>
    </div>
</footer>
<div id="toTop">
    <svg id="buttonTop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="55" height="55">
        <circle fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" cx="25" cy="25.7" r="16"></circle>
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#007AAB"
              d="M10 0h30c5.5 0 10 4.5 10 10v30c0 5.5-4.5 10-10 10H10C4.5 50 0 45.5 0 40V10C0 4.5 4.5 0 10 0zm15 9.7c-8.8 0-16 7.2-16 16s7.2 16 16 16 16-7.2 16-16c0-8.9-7.1-16-16-16z"></path>
        <path fill="#007AAB"
              d="M24 14L14 24c-.9.9-.2 2.4 1 2.4h4.3v6.4c0 2 1.6 3.6 3.6 3.6h4.3c2 0 3.6-1.6 3.6-3.6v-6.4H35c1.2 0 1.9-1.6 1-2.4L26 14c-.5-.6-1.5-.6-2 0z"></path>
    </svg>
    <p>Наверх</p></div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery ||
document.write('<script src="../zoolanding/static/js/jquery-3.3.1.min.js"><\/script>')


</script>
<script async="" src="static/js/build.js"></script>
</body>